
// *{
//     box-sizing: border-box;
// }
.dti-wrap{
    height: 656px;

    .guide{ 
        box-sizing: border-box;
        height: 52px;
        padding: 20px 0;
        span{
            font-size: 12px;
            color: #333333;
        }
        .ho-i{
            cursor: pointer;
        }
        .ho-i:hover{
            text-decoration: underline;
        }
        .g-icon{
            background: url('../img/yanxuan.png') no-repeat;
            background-position: 0 -1129px;
            display: inline-block;
            height: 11px;
            width: 5px;
            margin: 0 7px;
        }
    }
    .tailbd{
        .d-left{
            width: 430px;
            height: 552px;
            float: left;
            position: relative;
            .goodsbox{
                box-sizing:border-box ;
                height: 430px;
                text-align: center;
                border: 1px solid #e8e8e8;
                position: relative;
                cursor: pointer;
                img{
                  
                    width: 428px;
                    height: 428px;
                }
                .g-mask{
                    position: absolute;
                    width: 230px;
                    height: 230px;
                    background-color: rgba(218, 188, 130, 0.4);
                    left: 0;
                    top: 0;
                    cursor: move;
                    z-index: 99;
                    display: none;
                }
            }
            .hidbox{
                box-sizing: border-box;
                width: 430px;
                height: 430px;
                left: 432px;
                top: 0;
                position: absolute;
                border: 1px solid #e8e8e8;
                overflow: hidden;
                display: none;
                img{
                    position: absolute;
                }
            }
            .goodslist{
                width: 430px;
                height: 78px;
                margin-top: 40px;
                ul{
                    
                    li{
                        zoom: 1;
                        width: 78px;
                        height: 78px;
                        overflow: hidden;
                        margin-left: 10px;
                        vertical-align: top;
                        float: left;
                        a{
                            box-sizing: border-box;
                            display: block;
                            width: 78px;
                            height: 78px;
                            border: 1px solid #e8e8e8;
                            img{
                                width: 76px;
                                height: 76px;
                            }
                       
                        } 
                        a:hover{
                            border-color: #B4A078;
                        }
                    }
                    .first_li{
                        margin-left: 0;
                    }
                }
            }
        }
        .d-right{
            width: 620px;
            height: 656px;
            float: right;
        }

    }

}