body,html{
    width: 100%;
}
.container{
    width: 1090px;
    margin: 0 auto;
}
.top{
    width: 1903px;
    height: 176px;
    background-color: bisque;
   // color: brown;
  
    .top_T{
        height: 36px;
        background: #333333;
        .top_Tcenter{
            .top_action{
                float: left;
                .trum{
                    display: block;
                    float: left;
                    background: url(../img/trumpet.gif) no-repeat;
                   // background-position: -13px 0px;
                    width:14px;
                    height: 14px;
                    margin: 11px 6px 0 0;
                   
                }
               
                a{
                    font-size: 12px;
                    color: #cc9756;
                    line-height: 36px;
                    text-decoration: underline;
                }
                a:hover{
                    color: #ffffff;
                text-decoration: none;}
        
            }
            .top_nav{
                float: right;
                ul{
                    li{
                        position: relative;
                         margin: 0 7px;
                        // padding: 0 5px;
                        float: left;
                        box-sizing: border-box;
                        a{
                            font-size: 12px;
                            color: #cccccc;
                            line-height: 36px;
                            span{
                                display: inline-block;
                                margin-left: 10px;
                            }
                            i{
                                cursor: pointer;
                                display: block;
                                float: right;
                                background: url(../img/icon.png) no-repeat;
                                background-position: -1px -690px;
                                width: 10px;
                                height: 5px;
                                margin: 16px 10px 0;
                               transform: rotate(180deg);
                            }
                          
                            .app{
                                display: block;
                               position: relative;
                               padding-left: 5px;
                                background: url(../img/icon.png) no-repeat;
                                background-position: 0px 0px;
                                width: 7px;
                                height: 11px;
                               // margin: 13px 10px 0;
                                transform: rotate(0deg);
                                left: -48px;
                                top: -3px;
                            }
                        }
                        a:hover{color: #ffffff;}
                       
                        .down{
                            position: absolute;
                            width: 100px; 
                            background: #ffffff;
                            left: 7px;
                            border: solid 1px #dddddd;
                            box-shadow: 5px 5px 5px #999999;
                             display: none;
                            ol{
                               width: 100px;
                              
                                li{
                                     cursor: pointer;
                                    font-size: 12px;
                                    width: 55px;
                                    height: 40px;
                                    color: #999999;
                                    line-height: 40px;
                                   text-align: center;
                                   margin: 0 22px;
                                   border-bottom: 1px solid #dddddd;

                                }
                                .last-li{
                                    border-bottom: none;
                                }
                            }
                           
                        } 
                        .erm{
                           width: 140px;
                           height: 155px; 
                           box-shadow: none;
                           text-align: center;
                           font-size: 12px;
                           color: #c5b697;
                           left: -36px;
                        }
                        .down::before{
                            content: '';
                            background:url(../img/icon.png) no-repeat;
                            display:inline-block;
                            background-position: -1px -706px;
                            width: 10px;
                            height: 6px;
                            position: relative;
                            top: -15px;
                            left: 45px;
                        }
                        .erm::before{
                            left: -6px;
                            top: -13px;
                        }
                    }
                    .line::before{
                        content: '';
                        display: inline-block;
                        height: 16px;
                        border-left: 1px solid #5c5c5c;
                        vertical-align: middle;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .top_B{
        .top_Bcenter{
            height: 140px;
            box-sizing: border-box;
            border: 1px solid #fff;
            background: paleturquoise;
            a{
                float: left;
               .big-plogo{
                   display: block;
                   background: url('../img/icon.png') no-repeat;
                   background-position: -1px -304px;
                   width: 210px;
                   height: 50px;
                   margin-top: 30px;
               } 
            }

            .search{
                position: relative;
                width: 532px;
                height: 36px;
                border: 1px solid #cc9756;
                border-radius: 18px;
                margin: 28px 0 0 376px ;
               
                .glass{
                    position: absolute;
                    display: block;
                    background: url('../img/icon.png');
                    background-position: 0px -518px;
                    width: 14px;
                    height: 14px;
                    top: 12px;
                    left: 16px;
                    z-index: 2;
                }
                input{
                   
                    float: left;
                    border: none;
                    width: 442px;
                    height: 36px;
                    border-radius:  18px 0 0 18px;
                    box-sizing: border-box;
                    padding: 2px 0 2px 38px;
                    margin-left: 1px;
                }
                .btn_search{
                    float: right;
                    width: 90px;
                    height: 36px;
                    line-height: 36px;
                    text-align: center;
                    font-size: 16px;
                    border-radius: 0 18px 18px 0;
                    background: #cc9756;
                    color: #fff;
                    border: 1px solid #cc9756;
                    box-sizing: border-box;
                    margin-right: -1px;
                    // margin-top: -15px;

                }
            }
            .hotkey{
                margin-left:390px ;
                a{
                    line-height: 24px;
                    color: #999999;
                    font-size: 12px;
                    
                    .spe{
                            color: #cc9756;
                        }
                    span{
                        
                        margin: 12px;
                    }
                }
                a:hover span{
                    color: #cc9756;

                }
            }
            .enterCar{
                position: relative;
                float: right;
                width: 134px;
                height: 38px;
                border: 1px solid #cc9756;
                box-sizing: border-box;
                border-radius: 19px;
                top:-38px;
                cursor: pointer;
            }
            .enterCar:hover{
                background: #f5f3ef;
            }
        }
    }

}