.top{
    width: 1903px;
    height: 176px;
    background-color: bisque;
    color: brown;
    .top_T{
        height: 36px;
        background: #333333;
        .top_Tcenter{
            width: 1090px;
            margin: 0 auto;
      
            .top_action{
                float: left;
                .icon1{
                    display: block;
                    float: left;
                    background: url(../img/icon.png) no-repeat;
                    background-position: -13px 0px;
                    width:8px;
                    height: 14px;
               
                    margin: 0 2px;
                    margin-top:11px;
                   
                }
                .icon2{
                    display: block;
                    float: left;
                    background: url(../img/icon.png) no-repeat;
                    background-position: -23px -5px;
                    width:1px;
                    height: 4px;
               
                    margin-top:16px;
                   
                }
                .icon3{
                    display: block;
                    float: left;
                    background: url(../img/icon.png) no-repeat;
                    background-position: -26px -3px;
                    width:3px;
                    height: 9px;
                    margin-top:14px;
                    margin-right: 6px;
                   
                }
                a{
                    color: #cc9756;
                    line-height: 36px;
                }
        
            }
            .top_nav{
                float: right;
                ul{
                    li{
                        a{
                            color: #cccccc;
                            line-height: 36px;
                        }
                        float: left;
                    }
                }
            }
        }
    }
    

}